.main_nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 1.5em;
}

.nav_title {
  padding: 1em;
}

.nav_count {
  padding: 0.2em;
  font-size: 1.5em;
  border-radius: 50%;
  background-color: #008000;
}